/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

@media screen and (max-width: 1199px) {
  img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  img {
    max-width: 100%;
  }
}

textarea {
  resize: none;
}

.advantagies__title, .projects-section__title, .checkbox__field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__input, .form__comment {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

.menu-container.is-opened body {
  overflow: hidden;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .page-header__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    position: initial;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    height: 100%;
  }
}

.navigation {
  position: absolute;
  top: 48px;
  left: 40px;
  display: block;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .navigation {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item {
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item {
    padding-top: 32px;
    margin-right: 50px;
  }
}

.navigation :first-child {
  padding-bottom: 0;
}

.navigation :last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: 0.02em;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: #2196f3;
}

.navigation__link--current::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation__link--current::after {
    display: block;
    margin-top: 28px;
    margin-bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contacts__positioned {
    position: absolute;
    left: 40px;
    bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__positioned {
    margin-left: auto;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 64px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts__item:hover .contacts__link,
.contacts__item:focus .contacts__link {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.16667;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link[href='tel:+380961111111'] {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17647;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .contacts__link[href='mailto:info@devstudio.com'] {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link[href='mailto:info@devstudio.com'] > svg {
    width: 14px;
    height: 10px;
  }
  .contacts__link[href='tel:+380961111111'] > svg {
    width: 10px;
    height: 14px;
  }
}

.contacts__icon {
  display: none;
  fill: #757575;
  margin-right: 10px;
}

.contacts__item:hover .contacts__icon {
  fill: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  z-index: 98;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-container {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
}

.menu-container.is-opened {
  opacity: 1;
  visibility: visible;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-socials li:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-socials__link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-socials {
    display: none;
  }
}

.burger-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 99;
}

.burger-btn__icon-cross {
  display: none;
}

.burger-btn.is-opened .burger-btn__icon-menu {
  display: none;
}

.burger-btn.is-opened .burger-btn__icon-cross {
  display: block;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn__icon {
  fill: #000000;
  z-index: 99;
}

.burger-btn:active .burger-btn__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .burger-btn__icon {
    display: none;
  }
}

.logo,
.header__logo,
.footer__logo {
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1199px) {
  .logo,
  .header__logo,
  .footer__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo,
  .header__logo,
  .footer__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19231;
    letter-spacing: 0.03em;
  }
}

.logo {
  color: #2196f3;
}

.header__logo {
  color: #000000;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-footer {
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .page-footer {
    padding: 60px 0;
  }
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .page-footer__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__container {
    display: block;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .address__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

.address {
  min-width: 230px;
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__geo {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover, .address__link:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .socials {
    margin-left: 0;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .socials {
    margin-left: 70px;
  }
}

.socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .socials__title {
    padding-top: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .socials__title {
    padding-top: 12px;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .socials__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials__element:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link .socials__icon {
  fill: #ffffff;
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.mailing {
  width: 100%;
  margin-left: 0;
  padding-top: 0;
}

.mailing__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .mailing__title {
    text-align: center;
  }
}

.mailing__form {
  display: block;
}

@media screen and (min-width: 1200px) {
  .mailing__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: 93px;
    padding-top: 12px;
  }
}

.mailing__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 0;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mailing__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__btn {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

@media screen and (min-width: 1200px) {
  .mailing__btn {
    margin-right: 0;
    margin-left: 0;
  }
}

.mailing__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url("../images/mobile/bg-img-hero@1x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/mobile/bg-img-hero@1x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: url("../images/tablet/bg-img-hero@1x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/tablet/bg-img-hero@1x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../images/desktop/bg-img-hero@1x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/desktop/bg-img-hero@1x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    background-size: 1600px, cover;
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61538;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.hero__btn {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/bg-img-hero@2x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/mobile/bg-img-hero@2x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: url("../images/tablet/bg-img-hero@2x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/tablet/bg-img-hero@2x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: url("../images/tablet/bg-img-hero@2x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/tablet/bg-img-hero@2x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/desktop/bg-img-hero@2x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/desktop/bg-img-hero@2x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/desktop/bg-img-hero@2x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/desktop/bg-img-hero@2x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/mobile/bg-img-hero@3x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/mobile/bg-img-hero@3x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 288dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 3dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: url("../images/tablet/bg-img-hero@3x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/tablet/bg-img-hero@3x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 288dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 3dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: url("../images/tablet/bg-img-hero@3x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/tablet/bg-img-hero@3x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/desktop/bg-img-hero@3x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/desktop/bg-img-hero@3x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/desktop/bg-img-hero@3x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, #2f303a), color-stop(#c4c4c4), color-stop(40%, #2f303a));
    background-image: url("../images/desktop/bg-img-hero@3x.jpg"), linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }
}

.advantagies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .advantagies__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .advantagies__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .advantagies__container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .advantagies {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantagies {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .pluses {
    margin-left: 30px;
    margin-top: 0;
  }
  .pluses__item:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    padding: 0;
    margin-top: -30px;
  }
  .pluses__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    display: block;
    min-width: 270px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .card:not(:last-child) {
    margin-right: 30px;
    width: 270px;
    height: 100;
  }
}

.card__label {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14286;
  text-transform: uppercase;
  color: #212121;
}

.card__meta {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
}

.service__container {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .service__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .service__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .service__container {
    width: 1200px;
  }
}

.service__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .service {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  padding: 0;
  z-index: 1;
}

.example__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.example__wrapper {
  position: relative;
}

.example__meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  margin: auto;
  background: rgba(47, 48, 58, 0.8);
}

.example__meta > p {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .team {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__container {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .team__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    width: 1200px;
  }
}

.team__title {
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17857;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    padding: 0;
    margin-top: 0;
  }
  .staff__item {
    -ms-flex-preferred-size: calc(100% / 1 - 30px);
        flex-basis: calc(100% / 1 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    padding: 0;
  }
  .staff__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .staff {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    padding: 0;
  }
  .staff__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.staff__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .staff__item {
    padding-bottom: 24px;
  }
  .staff__item > img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .staff__item {
    padding-bottom: 30px;
  }
}

.staff__content {
  padding-top: 30px;
  padding-bottom: 0;
}

.staff__label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.staff__meta {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .staff__item:first-child {
    margin-top: 0;
  }
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.get-in-touch :not(:last-child) {
  margin-right: 10px;
}

.get-in-touch__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.get-in-touch__link:hover, .get-in-touch__link:focus {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.get-in-touch__icon {
  -o-object-fit: contain;
     object-fit: contain;
  overflow: visible;
  fill: #afb1b8;
  border-radius: 50%;
}

.get-in-touch__link:hover .get-in-touch__icon,
.get-in-touch__link:focus .get-in-touch__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .partners {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .partners {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.partners__container {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .partners__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .partners__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .partners__container {
    width: 1200px;
  }
}

.partners__title {
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .partners__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .partners__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
  }
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .company {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .company__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .company__link {
    display: block;
    width: 100%;
  }
}

.company__element {
  width: 170px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .company__element {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .company__element {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.company__element:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .company__element:not(:last-child) {
    margin-right: 15px;
  }
}

.company__element:hover, .company__element:focus {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.company__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company__element:hover .company__icon,
.company__element:focus .company__icon {
  fill: #2196f3;
}

.projects-section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .projects-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.projects-section__container {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .projects-section__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .projects-section__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-section__container {
    width: 1200px;
  }
}

.filter {
  display: block;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__element {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter__element {
    margin-right: 8px;
    margin-bottom: 0;
  }
}

.filter:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.filter__btn {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 73px;
  min-height: auto;
  padding: 6px 22px;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  padding: 0;
}

.product__item {
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    padding: 0;
  }
  .product__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    padding: 0;
  }
  .product__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.product__description {
  padding: 20px 24px;
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.product__label {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product__type {
  font-size: 16px;
  line-height: 1.875;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product__item:first-child > .product__link {
    height: 100%;
  }
  .product__item:first-child > .product__link .product__description:nth-child(2) {
    height: 34.44%;
  }
}

.product__link {
  display: block;
  color: #757575;
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay__wrapper {
    padding: 49px 24px;
  }
}

.product__item:hover .overlay__wrapper,
.product__item:focus .overlay__wrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.55556;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__item:hover .overlay__text {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  overflow: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 549px) {
  .modal {
    width: calc(100% - 30px);
  }
}

@media screen and (min-height: 320px) and (max-height: 650px) {
  .modal {
    top: 0;
    -webkit-transform: translate(-50%, 2%);
            transform: translate(-50%, 2%);
  }
}

@media screen and (min-width: 550px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn__icon {
  margin: auto;
}

.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  display: block;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .form__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__field:nth-child(4) {
  margin-bottom: 20px;
}

.form__input {
  height: 40px;
  padding-left: 42px;
}

.form__input--appearance {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__input:focus {
  border-color: #2196f3;
  outline: 1px solid #2196f3;
}

.form__input:not(:focus) {
  cursor: pointer;
}

.form__comment {
  padding-left: 16px;
}

.form__comment:focus {
  border-color: #2196f3;
  outline: 1px solid #2196f3;
}

.form__comment:not(:focus) {
  cursor: pointer;
}

.form__comment__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__label > a {
  margin-left: 5px;
  color: #2196f3;
}

.form__icon {
  position: relative;
}

.form__icon > svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__input:focus + svg {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .checkbox {
    width: 100%;
  }
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .checkbox__label {
    font-size: 12px;
    line-height: 1.16667;
  }
}

.checkbox__label > a {
  margin-left: 3px;
  text-decoration: underline;
  color: #2196f3;
}

.checkbox__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
}

.checkbox__icon:hover {
  cursor: pointer;
}

.checkbox__field:checked + .checkbox__icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.form__btn {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 0;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */