body {
  font-family: $font-main;
  font-style: normal;
  @include font-preset;

  background-color: var(--font-color);
  color: var(--sec-color);
}

body.modal-open {
  overflow: hidden;
}

.menu-container.is-opened body {
  overflow: hidden;
}
