body {
  font-family: $font-main;
  font-style: normal;
  @include font-preset;

  background-color: getColor(background-body);
  color: getColor(text-main);
}

body.modal-open {
  overflow: hidden;
}

.menu-container.is-opened body {
  overflow: hidden;
}
