p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

img {
  display: block;
  height: auto;

  @media screen and (max-width: 1199px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
  }
}

textarea {
  resize: none;
}
