//==============BACKDROP styles start here============//
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 300;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  opacity: 1;
  visibility: visible;

  overflow: scroll;

  transition: opacity getTransition(speed) getTransition(speed-func),
    visibility getTransition(speed) getTransition(speed-func);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
//===============BACKDROP styles end here============//

//===============MODAL window styles start here============//
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;

  transform: translate(-50%, -50%) scale(1);

  @include transition(transform, getTransition(speed-alt));

  @media screen and (max-width: 549px) {
    width: calc(100% - 30px);
  }

  //this media makes modal stick to top till height is 650px
  @media screen and (min-height: 320px) and (max-height: 650px) {
    top: 0;
    transform: translate(-50%, 2%);
  }

  @media screen and (min-width: 550px) and (max-width: 1199px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: #ffffff;

  &:hover {
    cursor: pointer;
  }
}

.close-btn__icon {
  margin: auto;

  .close-btn:hover &,
  .close-btn:focus & {
    fill: getColor(accent);

    @include transition(fill);
  }
}
//===============MODAL window styles end here============//
