.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: #2f303a;

  @media screen and (max-width: 767px) {
    background-image: url("../images/mobile/bg-img-hero@1x.jpg"),
      linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url("../images/tablet/bg-img-hero@1x.jpg"),
      linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }

  @media screen and (min-width: 1200px) {
    background-image: url("../images/desktop/bg-img-hero@1x.jpg"),
      linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    background-size: 1600px, cover;
  }

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__container {
    @include container(block, 0, 0);
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
    text-transform: uppercase;

    color: getColor(text-alt);

    @media screen and (max-width: 1199px) {
      @include font-preset(900, 26px, 42px, 0.06em);
    }

    @media screen and (min-width: 1200px) {
      @include font-preset(900, 44px, 60px, 0.06em);
      text-align: center;
    }
  }

  &__btn {
    @include button(
      inline-block,
      200px,
      50px,
      10px,
      32px,
      getColor(accent),
      getColor(text-alt)
    );

    @include font-preset(700, 16px, 30px, 0.06em);

    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}

//====================HERO background image for X2 and X3 displays START================//
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/bg-img-hero@2x.jpg"),
      linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      background-image: url("../images/tablet/bg-img-hero@2x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      background-image: url("../images/tablet/bg-img-hero@2x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      background-image: url("../images/desktop/bg-img-hero@2x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      background-image: url("../images/desktop/bg-img-hero@2x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/mobile/bg-img-hero@3x.jpg"),
      linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      background-image: url("../images/tablet/bg-img-hero@3x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      background-image: url("../images/tablet/bg-img-hero@3x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }
  @media screen and (min-width: 1200px) {
    .hero {
      background-image: url("../images/desktop/bg-img-hero@3x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      background-image: url("../images/desktop/bg-img-hero@3x.jpg"),
        linear-gradient(to right, #2f303a 40%, #c4c4c4, #2f303a 40%);
    }
  }
}
//====================HERO background image for X2 and X3 displays END================//
