.form__title {
  display: block;

  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  color: getColor(headings);

  @media screen and (max-width: 767px) {
    @include font-preset(700, 20px, 30px);
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: lineHeight(20px, 23px);
  }
}

.form__field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.form__input {
  @extend %formInput;
  height: 40px;
  padding-left: 42px;

  &--appearance {
    appearance: none;
  }

  &:focus {
    border-color: getColor(accent);
    outline: 1px solid getColor(accent);
  }

  &:not(:focus) {
    cursor: pointer;
  }
}

.form__comment {
  @extend %formInput;
  padding-left: 16px;

  &:focus {
    border-color: getColor(accent);
    outline: 1px solid getColor(accent);
  }

  &:not(:focus) {
    cursor: pointer;
  }

  &__comment::placeholder {
    @include font-preset(400, 12px, 14px, 0.01em);

    color: rgba(117, 117, 117, 0.5);
  }
}

.form__label {
  margin-bottom: 4px;

  @include font-preset(400, 12px, 14px, 0.01em);

  color: getColor(text-main);

  & > a {
    margin-left: 5px;

    color: getColor(accent);
  }
}

.form__icon {
  position: relative;

  & > svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
}

.form__input:focus + svg {
  fill: getColor(accent);

  @include transition(fill);
}

//=============CUSTOM CHECKBOX styles start here==============//

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &__field {
    @extend %visually-hidden;
  }
}

.checkbox__label {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  // @media screen and (max-width: 475px) {
  //   letter-spacing: 0.01em;
  // }

  // @media screen and (max-width: 354px) {
  //   font-size: 7px;
  //   line-height: lineHeight(7px, 14px);
  // }

  // @media screen and (min-width: 355px) and (max-width: 381px) {
  //   font-size: 8px;
  //   line-height: lineHeight(8px, 14px);
  // }

  // @media screen and (min-width: 382px) and (max-width: 409px) {
  //   font-size: 9px;
  //   line-height: lineHeight(9px, 14px);
  // }

  // @media screen and (min-width: 410px) and (max-width: 436px) {
  //   font-size: 10px;
  //   line-height: lineHeight(11px, 14px);
  // }

  // @media screen and (min-width: 437px) and (max-width: 475px) {
  //   font-size: 11px;
  //   line-height: lineHeight(11px, 14px);
  // }

  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: lineHeight(12px, 14px);
  }

  & > a {
    margin-left: 3px;

    text-decoration: underline;

    color: getColor(accent);
  }
}

.checkbox__icon {
  display: inline-flex;
  width: 16px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;

  &:hover {
    cursor: pointer;
  }

  .checkbox__field:checked + & {
    background-color: getColor(accent);
    border: 2px solid getColor(accent);
  }
}
//=============CUSTOM CHECKBOX styles end here==============//

//=============ORDER FORM BUTTON styles start here==============//
.form__btn {
  @include button(
    block,
    200px,
    50px,
    10px,
    0,
    getColor(accent),
    getColor(text-alt)
  );

  margin-left: auto;
  margin-right: auto;

  @include font-preset(700, 16px, 30px, 0.06em);

  border: none;

  @include transition(box-shadow);

  &:hover {
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
//=============ORDER FORM BUTTON styles end here==============//
