.team {
  background-color: getColor(background-alt);

  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    @include section;
  }

  &__container {
    @include container($display: block);
  }

  &__title {
    text-align: center;

    color: getColor(headings);

    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;

      @include font-preset(700, 28px, 33px);
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      @include font-preset(700, 36px, 42px);
    }
  }
}

.staff {
  @media screen and (max-width: 767px) {
    @include grid($quantaty: 1);
    margin-top: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include grid($quantaty: 2);
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    @include grid($quantaty: 4);
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;

    background-color: getColor(background-body);

    @media screen and (max-width: 1199px) {
      padding-bottom: 24px;
      & > img {
        width: 100%;
      }
    }

    @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
    }
  }

  &__content {
    padding-top: 30px;
    padding-bottom: 0;
  }
  &__label {
    margin-bottom: 10px;

    @include font-preset(500, 16px, 19px);
    text-align: center;

    color: getColor(headings);
  }

  &__meta {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: lineHeight(16px, 19px);

    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .staff__item:first-child {
    margin-top: 0;
  }
}

//===============Social icons styles start here======//

.get-in-touch {
  display: flex;
  justify-content: center;
  padding: 0;

  & :not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
  }

  &__link:hover,
  &__link:focus {
    background-color: getColor(accent);

    transition: background-color getTransition(speed) getTransition(speed-func);
  }
}

.get-in-touch__icon {
  object-fit: contain;
  overflow: visible;

  fill: #afb1b8;

  border-radius: 50%;

  .get-in-touch__link:hover &,
  .get-in-touch__link:focus & {
    fill: getColor(text-alt);

    transition: fill getTransition(speed) getTransition(speed-func);
  }
}

//===============Social icons styles end here======//
